@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


 footer {
  
    background: rgb(202, 199, 199);
    padding: 2rem;
    border-top: 2px #000 solid;
}

.contato {
  color: #fff;
  text-shadow: 0px 4px 10px #000;
}

.redes__p {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

.redes__item {
  width: 8rem;
  border-radius: 10px;
  transition: all 0.5s;
  filter: drop-shadow( 0px 4px 10px rgb(0, 0, 0));
  margin-top: 2rem;
}

.redes__item:hover {
  transform: scale(1.1);
}

.container__redes{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

.copy {
  text-align: center;
}